APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=database
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

ECOMMERCE_SERVICE=Stripe

STRIPE_KEY={PASTE_YOUR_STRIPE_API_KEY}
STRIPE_SECRET={PASTE_YOUR_STRIPE_API_SECRET}
STRIPE_CUSTOMER_PORTAL_KEY={PASTE_YOUR_STRIPE_CUSTOMER_PORTAL_KEY}
STRIPE_WEBHOOK_SECRET={PASTE_YOUR_STRIPE_WEBHOOK_SECRET}
STRIPE_WEBHOOK_TOLERANCE={PASTE_STRIPE_WEBHOOK_SECRET_TOLERANCE}
STRIPE_MONTHLY_PRODUCT_PRICE_ID={PRICE_ID_OF_THE_MONTLY_PRODUCT}

SQUARE_APPLICATION_ID=sandbox-sq0idb-EkvAp00XHABVwklWBDYHMw
SQUARE_ACCESS_TOKEN=EAAAl_jYzk4pbI_KkSb9__gR-e5zYSiSsG5Lo36F7aWc0gnabNJzqnluNJb_ZUV-
SQUARE_MONTHLY_CATALOG_ID=3JWHGZJVQA2NSCJB66RA5KVN
SQUARE_WEBHOOK_SIGNATURE_KEY=Jpf3fC82iY95QabonmjyiQ
SQUARE_LOCATION_ID=LHAMJERTA523M

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

OPENAI_API_KEY=
OPENAI_ORGANIZATION=
